<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>

<body>

<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Forms will come here -->

    <button type="submit">
        Save
    </button>
    <!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>

<body>

<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <h3>Common Information</h3>

    {{ profile_form.as_p }}

    <hr>

    <h3>Role Specific Information</h3>

    {{ role_form.as_p }}

    <button type="submit">
        Save Changes
    </button>

</form>

<br>

<a href="{% url 'profile' %}">
    Back to Profile
</a>

</form>

</body>
</html>